<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
  <ion-searchbar [hidden]="isHidden" (ionInput)="getFilter($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list padding>
    <ion-item>
      <ion-label>Label</ion-label>
      <ion-input type="text" [(ngModel)]="label"></ion-input>
    </ion-item>
  </ion-list>
  
  <div padding>
    <button ion-button block (click)="simpan()">Simpan</button>
  </div>

  <hr>
  <h6 padding>List Data</h6>
  <!-- <ion-list>
    <ion-item>
      <ion-label item-start (click)="edit({todo_id:1, todo_label:'Muhamad Rizal Hidayat'})">
        MUHAMAD RIZAL HIDAYAT
      </ion-label>  
      <ion-icon item-end color="danger" name="trash" (click)="showConfirmDelete({todo_id:1, todo_label:'Muhamad Rizal Hidayat'})"></ion-icon>
    </ion-item>  
  </ion-list> -->

  <ion-list *ngFor="let show of data" padding [hidden]="listData">
    <ion-item>
      <ion-label item-start (click)="edit(show)">
      {{show.todo_id}} - {{show.todo_label}}
      </ion-label>
      <ion-icon item-end color="danger" name="trash" (click)="showConfirmDelete(show)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let show of data" padding [hidden]="listSearch">
      <ion-item>
        <ion-label item-start (click)="edit(show)">
        {{show.todo_id}} - {{show.todo_label}}
        </ion-label>
        <ion-icon item-end color="danger" name="trash" (click)="showConfirmDelete(show)"></ion-icon>
      </ion-item>
    </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="light">
      <ion-icon ios="ios-arrow-dropup-circle" md="md-arrow-dropup-circle"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="filter()">
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
