<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detail Edit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Label</ion-label>
      <ion-input type="text" [(ngModel)]="data.todo_label"></ion-input>
    </ion-item>
  </ion-list>
  
  <div padding>
    <button ion-button block (click)="update()">Update</button>
  </div>
</ion-content>
